body {
    background-color: #360000; /* Cambia "red" al color que desees */
    font-family: times new roman,times,serif;
   
   text-align: justify;
   
    
    background: #360000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

