
     <footer class="bg-blue-900 text-white py-8">
        <div class="container mx-auto flex justify-between">
          <div>
            <p class="text-xl font-bold">Unidad Educativa del Milenio
                Manuel J. Calle"</p>
            <p>Dirección:Francisco Calderon 4-54 y Mariano  Cueva, Cuenca</p>
            <p>Teléfono:(07) 420-5487</p>
            <p>Email: unidadmanueljcalle.edu.ec</p>
          </div>
          <div>
            <p class="text-xl font-bold">Síguenos en Redes Sociales</p>
            <div class="flex space-x-7 justify-center">
                <a href="https://www.facebook.com/uemanueljcalleoficial/" target="_blank" rel="noopener noreferrer" class="hover:text-gray-300">
                    <img src="\assets\representacion-3d-logotipo-aplicacion-facebook-sobre-fondo-blanco_41204-6939.avif" alt="Facebook" class="w-10 h-10">
                  </a>
                  
                  <a href="https://twitter.com/tu_usuario" target="_blank" rel="noopener noreferrer" class="hover:text-gray-300">
                    <img src="\assets\png-clipart-icon-logo-twitter-logo-twitter-logo-blue-social-media-thumbnail.png" alt="Twitter" class="w-10 h-10">
                  </a>
                  
                  <a href="https://www.instagram.com/tu_usuario" target="_blank" rel="noopener noreferrer" class="hover:text-gray-300">
                    <img src="\assets\instagram-nuevo-icono_1057-2227.avif" alt="Instagram" class="w-10 h-10">
                  </a>
                  
            </div>
          </div>
        </div>
      </footer>
      